body {
  /*background-color:#C4AEAD;*/
  font-family: "Varela Round", sans-serif;
}

.container {
  position:absolute;
  top:15%;
  left:10%;
  margin: 20px auto;
  width: 80%;
  padding: 0px 20px 20px 20px;
  /*border: 1px dotted black;*/
  /*background-color:#DDD;*/
}

h1 {
    text-align:center;
}

p {
  padding:5em;
}

#user ul{
	list-style:none;
}

#user ul li{
	display:inline;
	padding: 10px ;
}

#user ul li a{
	color:black;
	text-decoration: none;
}

nav {
  position:fixed;
  width:100%;
  background-color:black;
}

nav ul{
  position:relative;
  padding:0;
  list-style:none;
  top:2%;
}

nav ul li{
  float:left;
  position:relative;
  display:inline-block;
  padding-right: 5%;
}

nav ul li a{
  text-decoration:none;
  color:white;
}

.gravatar {
  width:3em;
}

ul {
  list-style: none;
  padding:0;
}

.available {
  width: 55%;
  padding: 2%;
  margin: 2%;
  display:inline-block;
  border:1px solid black;
  border-radius:20px;
}

.scheduled {
  width: 30%;
  padding:2%;
  /*margin: 5%;*/
  display:inline-block;
  border: 1px solid black;
  border-radius: 20px;
}

.footer{
  margin-top:5%;
  text-align:center;
}
