body {
  background-color:#C4AEAD;
}

.container {
  margin: 20px auto;
  width: 720px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color:#DDD;
}
th {
  text-align: left;
}

#user ul{
	list-style:none;
}

#user ul li{
	display:inline;
	padding: 10px ;
}

#user ul li a{
	color:black;
	text-decoration: none;
}
