body {
  background-color:#C4AEAD;
}

.container {
  position:absolute;
  left:10%;
  margin: 20px auto;
  width: 75%;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color:#DDD;
}

h1 {
    text-align:center;
}

p {
  padding:5em;
}

#user ul{
	list-style:none;
}

#user ul li{
	display:inline;
	padding: 10px ;
}

#user ul li a{
	color:black;
	text-decoration: none;
}

.gravatar {
  width:3em;
}
