  <h2>Please Pick a date and time you are available.</h2>
  <form action="/schedule/create" method="POST">
    <label>Start time:</label><input type="datetime-local" name="start_time"><br>
    <label>End time:</label><input type="datetime-local" name="end_time"><br>
    <input type="submit" value="Create Mentoring Session">
  </form>

