<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <%if session[:user_id]%>
    <ul>
      <li><a href='/user'><img src="<%=User.find(session[:user_id]).gravatar%>" class="gravatar"></a></li>
      <li><a href='/schedule'>See Appointments</a></li>
      <li><a href='/schedule/create'>Mentor!</a></li>
      <li><a href='/signout'>Sign Out</a></li>
    <ul>
    <%else%>
    <ul>
      <li><a href='/signin'>Sign In</a></li>
      <li><a href='devbootcamp.com'>Dev Bootcamp</a></li>
    </ul>
    <%end%>
  </nav>
  <div class="container">
  <%= yield %>
</div>
</body>
</html>
